.Product_wrapper {
  overflow: hidden;
  background: white;

  &__list {
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s;
    transform: translateX(0px);
  }

  &__text {
    object-fit: contain;
    font-family: ComicSansMS, serif;
    font-size: 13px;
  }

  &__price {
    object-fit: contain;
    font-family: ComicSansMS, serif;
    font-size: 10px;
  }
}
